build/
!build/libs/
.gradle/
out/
test/
src/
.cache/
logs/
university-server.iml
University REST Application.postman_collection.json


*.iml
.idea/
.vscode/
.github

*.java
*.log
*.tmp
*.class
.DS_Store
Thumbs.db

*.env

*.git/
.gitignore
.gitattributes
.md
.travis.yml

.dockerignore